*{
    margin: 0;
}
body {
    background: ghostwhite;
    width: 100%;
}
form {
    margin: 10%;
}

fieldset {
    margin: 10%;
    text-align: center;
    border: 8px double  darkred;
    color:black;
    font-weight: bolder;
    
}

legend {
   font-weight: bold;
   color: dark;

}

p {
    margin: 4% 4% 4% 4%;
    text-align: center;
}